/*  your css code here. If applicable */
/*  your css code here. If applicable */
 body {
      font-family: Arial, sans-serif;
      background-color: #f3f3f3;
      /* text-align: center; */
      /* padding-top: 100px; */
    }
#openModal {
      background-color: #4CAF50;
      color: white;
      padding: 12px 24px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      transition: 0.3s;
    }
 #openModal:hover {
      background-color: #45a049;
    }
.modal{
	display: none;
	/* position: fixed; */
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: white;
	animation: fadeIn(0.4s);
	margin-top: 30px;
}
.modal-content{
	background-color: white;
	margin: 20px auto;
	padding: 0;
	/* border-radius: 10px; */
	width: 90%;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	animation: sideIn 0.4s;
}
.modal-header {
      background-color: #4CAF50;
      color: white;
      /* padding: 5px; */
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
 .modal-header h2 {
	 margin: 15px;
    }
 .close-modal {
      background: none;
      border: none;
      color: gray;
      font-size: 30px;
      cursor: pointer;
      font-weight: bold;
    }
  /* Modal Body */
    .modal-body {
      padding: 5px;
      font-size: 16px;
	  margin-left: 10px;
    }
 /* Animations */
@keyframes fadeIn{
	from {
		opacity: 0;
	}
	to{
		opacity:1;
	}
}
@keyframes sideIn{
	from {
		transform: translateY(-50px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}